.home {
    background-image: linear-gradient(to right top, #ff2700, #ff4900, #ff6000, #ff7400, #ff8500, #ff9112, #ff9d21, #ffa82e, #ffb243, #ffbc56, #ffc569, #ffce7b);
}

.wrapper {
    margin-top:1.5rem;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    color: #444;
    grid-gap: 1em;
    padding:1em;
    height:280px;
  }


.wrapper > div {
    
   
}

  .box {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;

  }

  .a {
    kgrid-column: 1 
  }
  
  .b {
    grid-column: 1  span 2;
    grid-row: 1 / span 2;
    text-align:left;
    background: rgba(255,255,255,0.6);
    border-radius:1rem;
  }
  .c {
   kgrid-column: 1 ;
    krid-row: 2 ;
  }

  .current {
    background: #fff;
    border-radius: 1rem;
    padding: 1rem 2rem 0;
  }

  .target {
    padding: 1rem 2rem ;
  }

  .current h1 {
    font-size:1.4rem;
    margin:0;
  }
  .current h2 {
    font-size:4rem;
    margin:0;
    font-weight:900;
    letter-spacing:-5%;
  }

  .target h1 {
    font-size:1.4rem;
    font-weight:normal;
    margin:0;
  }
  .target h2 {
    font-size:2rem;
    margin:0;
    font-weight:800;
  }
  .target h3 {
    font-size:1rem;
    margin:0;
    font-weight:400;
  }

  .title {
    display:block;
    font-size:1rem;
   
  }

  .status {
    display:block;
    font-size:2.8rem;
    font-weight:bold;
    text-transform: lowercase;font-variant:small-caps;
  }

  .a,
  .c {
    background: white;
    border-radius:1rem;
    padding:5px 10px 0;
    cursor: pointer;
  }