.overlay {
    color: white;
    font-size: 1rem;
    position: absolute;
    padding: 1rem 2rem;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    width: 480px;
}

.arrows {
    font-size:1.6rem;
    font-weight: 900;
    margin-top: -04px;
}